<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Point</th>
    </tr>
    </thead>
    <tbody>
    <!-- User 목록을 반복하며 출력 -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.point}"></td>
        <td> <a th:href="'/posts/' + ${user.id}">수정</a> </td>
        <td>
            <form id="deleteMember" th:action="@{'/posts/' + ${user.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button> <a href="/posts/registration">유저 등록</a> </button>
<button> <a href="/static">홈으로</a> </button>
</body>
</html>
