<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">미션 UMC</h1>

    <div class="col-md-12 mt-3">
        <div th:unless="${userName}">
            <a th:href="@{/oauth2/authorization/google}" class="btn btn-success active" role="button">Google Login</a>
        </div>

        <div th:if="${userName}">
            <p class="mt-3">Logged in as: <span id="user" th:text="${userName}"></span></p>
            <a th:href="@{/logout}" class="btn btn-info" role="button">Logout</a>
        </div>
    </div>

    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-bordered">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/posts">Users들 보기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mission">Mission들 보기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/missionuser">내 Mission 보기</a>
            </li>
        </ul>
    </table>
</div>
</body>
</html>
