<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Mission List</title>
</head>
<body>
<h1>My Mission List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <!-- User 목록을 반복하며 출력 -->
    <tr th:each="mis : ${missionList}">
        <td th:text="${mis.id}"></td>
        <td th:text="${mis.user.getName()}"></td>
        <td th:text="${mis.mission.getContent()}"></td>
        <td>
            <form id="deleteMember" th:action="@{'/missionuser/' + ${mis.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button> <a href="/missionuser/registration">미션 등록</a> </button>
<button> <a href="/">홈으로</a> </button>
</body>
</html>
